{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/creator_main.css'%}">
{% endblock %}

{% block content %}

<!-- video -->
  <div class="row" id="creator_tab">
    <div class="col s12" id="no-padding">
      <ul class="tabs tabs-fixed-width">
        {% for creator_i in creator_list %}
          <li class="tab col">
            <a class="{% if creator_i == youtube_content.creator %}active{% endif %}" target="_self" href="{% url 'creator:creator_page' creator_i.username %}">{{ creator_i.username }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div id="creator-header" class="hide-on-small-only col l12">
      <img src="{{ creator.profile.creator_header_image_url }}" >
    </div>
  </div>


<!-- video, list -->
  <div class="row test">
    <div class="col l6 s12">
      <iframe id="iframe" width="570" height="350"
      src="{{ youtube_content.youtube_url }}">
      </iframe>
    </div>

    <div class="col l6 s12">
      <div class="vertical-menu">
        {% for video in creator.Youtube_Content.all %}
        <a href="{% url 'creator:creator_page' creator.username video.pk %}"
           class="{% if video.pk == youtube_content.pk %}
                  active
                  {% endif %}">{{ video.title }}</a>
        {% endfor %}
      </div>
    </div>
  </div>




<!-- item list -->
  <script type="text/javascript">
   $(document).ready(function(){
      $('.carousel').carousel({
            dist: 0,
            shift:0,
            padding:270,

      });
    });
  </script>

  {% if item %}

      <div id="item-header">ITEM LIST</div>
      <div class="row">
        <div class="carousel" id="item-slide-wrapper">
          {% for item in youtube_content.item.all %}
          <div class="carousel-item" id="item-slide">
            <div class="col s3">
                <div class="card self">
                  <div class="card-image">
                    <img src="{{ item.item_image_url }}" class="responsive-img">
                  </div>
                  <div class="card-content">
                    <p>{{ item.name }}</p>
                  </div>
                  <div class="card-action">
                    <a class="select_reivew" href="{% url 'creator:review_board' item.pk %}">리뷰보기</a>
                    <a href="#">구매 링크</a>
                  </div>
                </div>
              </div>
          </div>
          {% endfor %}
        </div>
      </div>


    <!-- item LISTt -->
    <script type="text/javascript">

      $('.select_reivew').on('touchstart click', function(e){
          e.preventDefault();
          var self = $(this);
          var url = self.attr('href');
          console.log(url);

          $.post(url)
            .done(function(r){
              $('#review_board').html(r)
            })
            .fail(function(){
              alert('error');
            });

        return false;
      });
    </script>


    <!-- review -->



      <div id="review_board">
        {% include 'creator/review.html' with item=item %}
      </div>
    <!-- review -->
  {% else %}
    <div id="no-item-in-video" >
    <a class="btn-large disabled">이 영상에는 소개되는 제품이 없습니다</a>
    </div>
  {% endif %}
{% endblock %}


