{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="content-box">
  <nav>
    <div class="nav-wrapper deep-purple lighten-4">
      <ul class="left hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li class="active"><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>

  <div id="creator_header"
        style="background-image: url({% static 'no-image.jpg'%});
        "></div>

<!-- video, list -->
  <div id="main-box-wrapper">
    <div id="main-box">
      <iframe width="600" height="350"
    src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>

      <div class="vertical-menu">
        <a href="#" class="active">Home</a>
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        <a href="#">Link 4</a>
        <a href="#">Link 5</a>
        <a href="#">Link 6</a>
        <a href="#">Link 7</a>
        <a href="#">Link 8</a>
        <a href="#">Link 9</a>
        <a href="#">Link 10</a>
      </div>

    </div>
  </div>



  <div class="row">

    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="{% static 'no-image.jpg' %}">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">리뷰 보기</a>
          <a href="#">구매 링크</a>
        </div>
      </div>
    </div>

    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="{% static 'no-image.jpg' %}">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">리뷰 보기</a>
          <a href="#">구매 링크</a>
        </div>
      </div>
    </div>

    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="{% static 'no-image.jpg' %}">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">리뷰 보기</a>
          <a href="#">구매 링크</a>
        </div>
      </div>
    </div>

    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="{% static 'no-image.jpg' %}">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">리뷰 보기</a>
          <a href="#">구매 링크</a>
        </div>
      </div>
    </div>

  </div>


</div>

{% endblock %}