.content-box{
    width: 1500px;
    padding-top: 20px;
    margin: auto;
}
#creator_tab{
    width: 1500px;
    margin: auto;
}
#no-padding{
    padding: 0px;
}
#creator_header{
    width: 1500px;
    margin: auto;
    margin-top: 20px;
    background-position: 50% 43%;
    height: 150px;
}

#main-box-wrapper{
    margin: auto;
    padding-top: 40px;
}
#main-box{
    width: 1200px;
    margin: auto;
}
.vertical-menu {
    width: 500px;
    border: 1px #bdbdbd solid;
    height: 345px;
    overflow-y: auto;
    box-shadow: 3px 1px 1px #bdbdbd;
    display: inline-block;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #d1c4e9;
    color: white;
}




.row{
    width: 1300px;
    text-align: center;
    margin-top: 30px;
}
.col{
    display: inline-block;
}
.card{
    width: 300px;
}


#key{
    text-align: center;
}

#item-slide-wrapper{
    width: 1250px;
    height: 300px;
    margin: auto;
}

#item-slide{
    top: -30px;
}
