#creator_tab{
    margin-bottom: 6px;
}


#creator-header img{
    text-align: center;
    width: 100%;
    height: auto;
}



.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




#iframe{
    width: 100%;
    /*height: 100%;*/
}






@media only screen and (min-width: 500px) {
    .vertical-menu {
        height: 345px;
    }
}

@media only screen and (max-width: 500px) {
    .vertical-menu {
        height: 200px;
    }
    #iframe{
        height: 200px;
    }
    #item-header{
        text-align: center;
    }
}

.vertical-menu {
    width: 100%;
    border: 1px #bdbdbd solid;
    /*height: 345px;*/
    overflow-y: auto;
    box-shadow: 3px 1px 1px #bdbdbd;
    display: inline-block;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #d1c4e9;
    color: white;
}




#item-header{
    font-weight: bold;
    font-size: 25px;
    color: #f3b85d;
}





#item-slide-wrapper {
    height: 300px;
    background-color: #efefef;
    border: 2px solid #f6b2b5;
    border-radius: 6px;
}

#item-slide{
    top: -30px;
}

.cards{
    width: 300px;
}