@media screen and (max-width: 600px) {
	div.entire_body .container {
	width: 98%;
	}
}
@media screen and (max-width: 600px) {
	body div.entire_body{
		margin: 1px;
	}
}
div.entire_body{
	margin:10px 20px 0 20px;
	background-color:#f5f0ec;
	overflow:hidden;
}
a.button-collapse i.material-icons{
	font-size:35px;
	color:gray();
}
img.logo{
	width:20%;
	padding-top:5px;
}
.logoBox a{
	line-height:0;
}
p.logoBox{
	text-align:center;
	margin:0;
}
.entire_body nav{
	background-color:#f5f0ec;
	box-shadow:none;
	height:30px;
}
.entire_body nav div.nav-wrapper {
	width:100%;
	text-align: center;
}
.entire_body nav div ul {
	display: inline-block;
	margin: 0;
	line-height: 30px;
}
nav a.button-collapse {
	color:black;
}
ul.main_menu.hide-on-med-and-down li a {
	color: #727272;
}
.main_menu_logo{
	padding:0.5rem 0;
}
.col a{
	color:white;
}
pre.slogan{
	font-size: 3.43em;
	font-family: "Arial Black", Gadget, sans-serif;
	letter-spacing:1px;
	line-height: 1.2;
	color:white;
	margin: 0 10px;
	overflow:hidden;
}
.fi{
	color:#b94f55;
}
.de{
	color:#ff80ab;
}
.col.tags{
	height:290px !important;
	background-color:#f3b85d;
	font-size:1.87rem;
	color:white;
	font-weight:bold;
	border:5px solid #f5f0ec;
}
.col.login div a.join{
	color:dimgray;
	font-size:1rem;
}
.col.event_mall_location {
	height:140px !important;
	background-color:#9DA5BE;
	padding:10px 20px;
	font-size:1.87rem;
	color:white;
	font-weight:bold;
	border:5px solid #f5f0ec;
}
.col.login{
	height:100px !important;
	background-color:#9DA5BE;
	padding:10px 20px;
	font-size:1.87rem;
	color:white;
	font-weight:bold;
	border:5px solid #f5f0ec;
}
.col.skin_type{
	background-color:#94dad5;
	height:240px !important;
	font-size:1.25rem;
	padding:0.5rem !important;
	color:white;
	font-weight:bold;
	border:5px solid #f5f0ec;
}

.col.skin_wiki{
	background-color:#ffcab8;
	height:240px !important;
	font-size:1.25rem;
	color:white;
	font-weight:bold;
	border:5px solid #f5f0ec;
}
.col.hottest{
	background-color:#d0ccc4;
	height:240px !important;
	padding:10px;
	font-size:1.56rem;
	color:#6c6861;
	font-weight:bold;
	border:5px solid #f5f0ec;
}
span.hot_posts a{
	color: black;
	font-size: 1rem;
	font-weight: normal;
}
div.hot_area {
	margin-top: 5px;
}
span.hot_posts_comment_count{
	background-color:#6c6861;
	border:1px solid #6c6861;
	color: white;
	border-radius:2px;
	font-size: 0.8rem;
}
.col.hottest img{
	vertical-align: middle;
}
.col.mobile_tags{
	background-color:#f3b85d;
	height:100px !important;
	/*padding:10px;*/
	font-size:1rem;
	color:white;
	font-weight:bold;
	border:5px solid #f5f0ec;
}
.col.menu{
	background-color:#ffcdd2;
	height:70px !important;
	border:5px solid #f5f0ec;
}
.col.menu h5{
	display:inline;
	margin:auto;
}
.col.menu p{
	display:inline;
	margin:auto;
}
div.welcome_member {
	font-size:1rem;
}
.login img{
	margin-bottom:7px;
}

.col.recommend_cosmetics{
	background-color:#94dad5;
	width:100%;
	height:400px;
	font-size:20px;
	font-weight:bold;
	border:5px solid #f5f0ec;
	color:white;
	text-align: center;
	-webkit-perspective: 500px;
          	perspective: 500px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    overflow: hidden;
  	position: relative;


}

.main_menu_logo-mid_title{

	padding:0.5rem 0;
}

.col.creator{
	background-color:#7030a0;
	width:50%;
	height:400px;
	font-size:20px;
	font-weight:bold;
	border-left:5px solid #f5f0ec;
	border-top:5px solid #f5f0ec;
	border-bottom:5px solid #f5f0ec;
	color:white;
	text-align: center;

}

.col.offline_event{
	background-color:#002060;
	width:50%;
	height:400px;
	font-size:20px;
	font-weight:bold;
	border-right:5px solid #f5f0ec;
	border-top:5px solid #f5f0ec;
	border-bottom:5px solid #f5f0ec;
	color:white;
	text-align: center;

}







.col.subscribe_bwg{
	background-color:#9ca5be;
	width:100%;
	height:65px;
	font-size:20px;
	font-weight:bold;
	border:5px solid #f5f0ec;
	border-bottom: none;

	color:white;
	text-align: center;

	cursor: pointer;
}

.col.subscribe_bwg #subscribe-open{
	margin-top: 16px;
}

.col.subscribe_panel{
	background-color:#9ca5be;
	width:100%;
	height:170px;
	font-size:20px;
	font-weight:bold;
	border:5px solid #f5f0ec;
	border-top: 2px solid white;

	color:white;
	text-align: center;
	display: none;

}


#subscribe-form {
	width: 400px;
	margin: auto;
}
#subscribe-form p{
	height: 80px;
}
#subscribe-form label{
	font-size: 13px;
	color: white;
}
#subscribe-form input{
	border-bottom: 2px solid white;
}



.btn.subscribe-submit{

}

.recommend_item_title{
	color :#94dad5;
	font-size:25px;
	position: relative;
    top: 10px

}
.recommend_card{
	position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    border-radius: 20px;
    height: 320px;
    box-shadow: 1px 1px 5px #888888;
    top : -90px;
}



.recommend_circle_image {
	width: 100px;
	height:100px;
	background: white;
    position: relative;
    margin: 0 auto;
    top: 20px;
    z-index: 1;
    border-radius: 50%;
    box-shadow:1px 1px 5px #888888;
    background-size:100px 100px;
}


.recommend_ranking_sec{
	background:#ebe8e8;
	height:200px;
	position: relative;
    top: -15px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

a.recommend_ranking_content{
	display: block;
    color: #26a69a;
    padding: 5px;
    height:40px;
    background-color: #ebe8e8;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    top: 30px;
    text-align:left;
}

#item-slide-wrapper_main {
    height: 300px;
    border-radius: 6px;
}

#item-slide_main {
    top: -100px;
    width :30%;
}

.event_content {
    width: 80%;
    height: 200px;
    background-color : #818181;
    border-radius: 20px;
    margin: 50px;
    box-shadow: 1px 1px 5px #000000;
}

.event_content_text{
    text-align:left;
    margin-top: 15px;
    margin-left:15px;

}
.event_button {
    margin-top: 150px;
    align-content: center;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

div.entire_body main {
	flex: 1 0 auto;
}

div.card.horizontal div.card-content {
	padding:15px;
}
div.card-content div.middle_content {
	width:99%;
	height:100%;
	margin:auto;
	overflow: scroll;
}

.carousel {
  max-height: 215px;
}
.carousel-item.dry {
	background-color:#D4A78F;
}

