<div class="col l12 subscribe_bwg">
  <p id="subscribe-open">메일을 통해 더 많은 소식을 받아보세요</p>
</div>

<div class="col l12 subscribe_panel">
  <div class="subscribe_panel_input">
    <form id="subscribe-form" action="{% url 'main:subscribeEmail' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn unsubscribe-submit">구독 취소</button>
        <button type="submit" class="btn subscribe-submit">메일 구독</button>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
      $("#subscribe-open").click(function(){
          $(".subscribe_panel").slideToggle("slow");
      });
  });

  $(document).ready(function(){
    $(".subscribe-submit").click(function(){
        $("#subscribe-form").submit(function(e) {
            e.preventDefault();
            var email = $('#id_email').val();
            $.post('{% url "main:subscribeEmail" %}', {email: email})
                .done(function(r) {
                    if (r.success) {
                        if (r.created){
                            $("#id_email").attr('placeholder', "구독해 주셔서 감사합니다.");
                        }
                        else {
                            $("#id_email").attr('placeholder', "이미 구독중인 메일입니다.");
                        }
                    } else{
                        $("#id_email").attr('placeholder', "잘못된 메일주소 입니다.");
                    }
                    $('#id_email').val('');
                  });
              });
        });
  });

  $(document).ready(function(){
    $(".unsubscribe-submit").click(function(){
        $("#subscribe-form").submit(function(e) {
            e.preventDefault();
            var email = $('#id_email').val();
            $.post('{% url "main:unsubscribeEmail" %}', {email: email})
                .done(function(r) {
                    if (r.success) {
                        if (r.deleted){
                            $("#id_email").attr('placeholder', "구독 취소 되었습니다.");
                        }
                        else {
                            $("#id_email").attr('placeholder', "구독중인 메일이 아닙니다.");
                        }
                    } else{
                        $("#id_email").attr('placeholder', "잘못된 메일주소 입니다.");
                    }
                    $('#id_email').val('');
                  });
              });
        });
  });
</script>