{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
<!--main_fix-->
<div class="col 1l2 m12 s12 title_picture">
  <img src="{% static 'title_picture.png' %}">
</div>



<div class="col l6 skintype_test" style="border-left: 5px solid #efefef">
  <div class="main_menu_logo-mid_title skintype_text hide-on-small-only">피부타입 테스트 </div>
  <div class="main_menu_logo-mid_title skintype_text_m hide-on-med-and-up">피부타입 테스트 </div>

  <div class="content_sec">
    <div class="skin_type col l6 m6 s12">
        <p>남자는 무조건 올인원?<br/> 사람은 모두 다른 피부타입을<br/> 가졌다는거,알고있나요?<br/>
        지금 당신의 피부 타입을 확인해보세요!</p>
        <div class="carousel carousel-slider center hide-on-small-only" data-indicators="true">
            <div class="carousel-item dry white-text">
              <h2>건성 피부</h2>
              <p class="white-text">Dry Skin</p>
            </div>
            <div class="carousel-item amber white-text" href="#two!">
              <h2>중성 피부</h2>
              <p class="white-text">Sensitive Skin</p>
            </div>
            <div class="carousel-item green white-text" href="#three!">
              <h2>복합성 피부</h2>
              <p class="white-text">Combination Skin</p>
            </div>
            <div class="carousel-item blue white-text" href="#four!">
              <h2>지성 피부</h2>
              <p class="white-text">Oily Skin</p>
            </div>
        </div>
        <script>
            $('.carousel.carousel-slider').carousel({fullWidth: true});
        </script>
    </div>


    <div class="col l6 m6 s12 skin_type_pic hide-on-small-only">
      <img src="{% static 'skintype.png' %}">

    </div>
    <div class="col l6 m6 s12 skin_type_pic_m hide-on-med-and-up">
      <img src="{% static 'skintype.png' %}">
    </div>
  </div>

  <div class="button_sec_1 hide-on-small-only">
       <a class="btn waves-effect" href="{% url 'accounts:skin_type' %}">테스트하기</a>
  </div>
  <div class="button_sec_1_m hide-on-med-and-up">
       <a class="btn waves-effect" href="{% url 'accounts:skin_type' %}">테스트하기</a>
  </div>
</div>


<div class="col l6 skintype_test" style="border-right: 5px solid #efefef">
  <div class="main_menu_logo-mid_title skintype_text hide-on-small-only">피부타입 백서</div>
  <div class="main_menu_logo-mid_title skintype_text_m hide-on-med-and-up">피부타입 백서 </div>

  <div class="content_sec">
    <div class="skin_type col l6 m6 s12">
      <p>처음 겪는 피부고민.<br/> 어디에 물어볼지,<br/> 어떻게 해야하는지 모르겠다면?<br/> BWG가 준비한 피부백서에서<br/>해결해보세요!</p>



    </div>
    <div class="col l6 m6 s12 skin_type_pic hide-on-small-only">
      <img src="{% static 'skindic.png' %}">
    </div>
    <div class="col l6 m6 s12 skin_type_pic_m hide-on-med-and-up">
      <img src="{% static 'skindic.png' %}">
    </div>
    </div>
    <div class="button_sec_1 hide-on-small-only">
     <a class="btn waves-effect" href="{% url 'wiki:wikimain' %}">확인하기</a>
   </div>
   <div class="button_sec_1_m hide-on-med-and-up">
     <a class="btn waves-effect" href="{% url 'wiki:wikimain' %}">확인하기</a>
   </div>

</div>


  {% include 'main/item_recommendation.html' with bb_cream=bb_cream moisturizer=moistruizer eye_brow=eye_brow %}

<!-- 추천상품 보기 -->



<!--main_fix end-->




<!--origin_main 분리함
  {% include 'main/origin_main.html'%}

  {% include 'main/item_recommendation.html' with bb_cream=bb_cream moisturizer=moistruizer eye_brow=eye_brow %}-->

<!-- 추천상품 보기 -->


<div class="col l6 m6 s12 creator_event">
  <div class="main_menu_logo-mid_title creator_event_text ">크리에이터 후기 보기</div>

    <div class="content_sec_2 ">
      <p>새로나온 신상부터,<br/>남자 피부에 맞는 여자화장품까지,<br/>크리에이터가 미리 써봤다!<br/>후기 보고 나한테 맞는 아이템 찾아보세요!</p>
    </div>


    <div class="button_sec_2 ">

       <a class="btn waves-effect" href="{% url 'creator:creator_page_main' %}">후기보러가기</a>
    </div>
</div>

<div class="col l6 m6 s12 creator_event">
  <div class="main_menu_logo-mid_title creator_event_text ">오프라인 행사 정보</div>

    <div class="content_sec_2 ">
      <p>가꾸고 싶은 당신을 위해<br/>세일정보부터, 가기만해도 이득인 행사까지 <br/>여기서만 확인하면 끝! </p>
    </div>

    <div class="button_sec_2">

       <a class="btn waves-effect" href="{% url 'event:event_main' %}">행사확인하기</a>
    </div>
</div>


<!-- 메일 구독 -->
{% include 'main/mail_subscription.html' with form=form %}
<!-- 메일 구독 -->

</div>

{% endblock %}