{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
<div class="col l8 m12 s12 slogan"><span>
<pre class="slogan">Con<span class="fi">fi</span><span class="de">de</span>nt
Gromming
For You</pre></span></div>
    <div class="col l4 m4 s4 login hide-on-med-and-down valign-wrapper">

    <div>
     {% if request.user.is_authenticated %}
         <div class="welcome_member">{{ request.user.username }}님 반가워요!!</div>
    <a href="{%  url 'accounts:logout' %}" class="btn">Logout</a>
    {% else %}
    <a href="{% url 'accounts:login' %}">로그인</a><br>
    <a href="{% url 'accounts:signup' %}" class="join">회원가입</a>
         <a href="" class="join">ID/PW 찾기</a>
    {% endif %}
    </div>
    </div>

    <div class="col l4 tags hide-on-med-and-down">
        <a href="{% url 'post:show_tag' %}">#TAGS</a><br>
        {% for tag in hot_tags %}
            <div class="chip" style="margin-bottom:3px;">
                <img src='{% static 'hot_image.gif' %}' alt="Contact Person" width="32px">
                 <a href="{% url 'post:tag_post_list' tag %}">{{ tag }}</a></div><br>
        {% endfor %}

    </div>

    <div class="col l3 m6 s6 skin_type">

        <div class="carousel carousel-slider center" data-indicators="true">
            <div class="carousel-fixed-item center">
                <a class="btn waves-effect
                white grey-text darken-text-2" href="{% url 'accounts:skin_type' %}">테스트하기</a>
            </div>
            <div class="carousel-item dry white-text">
              <h2>건성 피부</h2>
              <p class="white-text">Dry Skin</p>
            </div>
            <div class="carousel-item amber white-text" href="#two!">
              <h2>중성 피부</h2>
              <p class="white-text">Sensitive Skin</p>
            </div>
            <div class="carousel-item green white-text" href="#three!">
              <h2>복합성 피부</h2>
              <p class="white-text">Combination Skin</p>
            </div>
            <div class="carousel-item blue white-text" href="#four!">
              <h2>지성 피부</h2>
              <p class="white-text">Oily Skin</p>
            </div>
        </div>
        <script>
            $('.carousel.carousel-slider').carousel({fullWidth: true});
        </script>

    </div>
    <div class="col l5 m6 s6 skin_wiki">
        <span class="main_menu_logo">금주의 피부백서</span><br>
        <div class="card horizontal">
          <div class="card-image hide-on-small-only">
            <img src="{{ this_wiki.image_url }}" style="width:100%; height:180px;">
          </div>
            <div class="card-content" style="height:180px;
            color:black; overflow:scroll; font-size:0.8rem;">
              <div class="middle_content">
                {{ this_wiki.contents }}<br><br>
                  <!-- Modal Trigger -->
                  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">솔루션</a>
              </div>

                  <!-- Modal Structure -->
                  <div id="modal1" class="modal">
                    <div class="modal-content">
                      <h4 style="margin-bottom:0;">Solution</h4>
                      <p>
                          <img src="{{ this_wiki.image_url }}" class="hide-on-large-only hide-on-small-only" width="70%;"><br>
                          <img src="{{ this_wiki.image_url }}" class="hide-on-med-and-up" width="100%;"><br>
                          <img src="{{ this_wiki.image_url }}" class="hide-on-med-and-down"><br>
                          {{ this_wiki.solution|linebreaksbr|default:"<h4>등록된 솔루션이 없습니다.</h4>" }}</p>
                    </div>
                    <div class="modal-footer">
                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" style="color:black;">돌아가기</a>
                    </div>
                  </div>
                <script>
                    $(document).ready(function(){
                        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
                        $('.modal').modal();
                      });
                </script>
            </div>
        </div>
    </div>
    <div class="col l4 m6 s6 hottest">
        <div class="main_menu_logo">
        <img src="{% static 'hottest.gif' %} ">HOTTEST</div>
        <div class="hot_area">
            <span class="hot_posts">
            {% if hot_posts %}
                {% for post in hot_posts %}
                    <i class="material-icons tiny" style="vertical-align:middle; color:saddlebrown;">thumb_up</i>
                    <a class="hide-on-small-only" href={% url 'post:post_detail' post.pk %}>{{ post.title|truncatechars:20 }}</a>
                    <a class="hide-on-med-and-up" href={% url 'post:post_detail' post.pk %}>{{ post.title|truncatechars:11 }}</a>
                    <span class="hot_posts_comment_count">{{ post.num_comments }}</span><br>
                {% endfor %}
            {% endif %}
            </span>
        </div>
    </div>


    <!--이것은 모바일에서만 보이는 태그 영역입니다.-->
    <div class="col m6 s6 hide-on-large-only mobile_tags">
        <div class="main_menu_logo">#TAGS_FOR_MOBILE</div>
    </div>

    <!--여기까지-->
<div class="col l3 m3 s3 valign-wrapper menu">
  <h5 class="menu_align hide-on-med-and-down">추천상품 보기</h5>
    <span class="hide-on-large-only" style="overflow:auto;">
<pre>
추천상품
보기</pre>
    </span>
</div>
<div class="col l3 m3 s3 valign-wrapper menu">
  <p class="menu_align hide-on-med-and-down" style="font-size:19px;">크리에이터 리뷰보기</p>
    <span class="hide-on-large-only">
        <pre>
크리에이터
리뷰보기</pre></span>
</div>
<div class="col l3 m3 s3 valign-wrapper menu ">
  <h5 class="menu_align hide-on-med-and-down">행사 확인하기</h5>
    <span class="hide-on-large-only">
        <pre>
행사
확인하기</pre></span>
</div>
<div class="col l3 m3 s3 valign-wrapper menu">
  <h5 class="menu_align hide-on-med-and-down">BWG 후기보기</h5>
    <span class="hide-on-large-only">
        <pre>
BWG
후기보기</pre>
    </span>
</div>

<!--여기서부터 추천상품 보기 -->

<div class="col l12 recommend_cosmetics">
  <span class="main_menu_logo-mid_title">추천 상품 보기</span>

    <div class="carousel">
        <div id="item-slide_main hide-on-med-and-down" class="carousel-item" >
              <div class="recommend_card ">
                <span class="recommend_item_title hide-on-med-and-down">비비크림</span>
                <div class="recommend_item_title hide-on-large-only" style="text-align:center;">
                    비비크림</div>
                <div class="recommend_circle_image" style="background-image:url({% static 'bb_cream.png' %});">
                </div>
                <div class="recommend_ranking_sec">
                    {% for item in cream %}
                    <a href="{% url 'review:item_review' item.pk%}" class="recommend_ranking_content">1위 : {{ item.name }}</a>
                    {% endfor %}
                    <br/>

                    <form method="GET" action="{% url 'review:search_item' %}">
                        <input type="hidden" value="비비크림" name="category_search">
                        <button type="submit" class="waves-effect waves-light btn">더보기</button>
                    </form>
                </div>
              </div>

        </div>

        <div id="item-slide_main hide-on-med-and-down" class="carousel-item" >
              <div class="recommend_card"  >
                <span class="recommend_item_title hide-on-med-and-down">눈썹관리</span>
                <div class="recommend_item_title hide-on-large-only" style="text-align:center;">
                    눈썹</br>관리
                </div>
                <div class="recommend_circle_image" style="background-image:url({% static 'brow_kit.png' %});">
                </div>
                <div class="recommend_ranking_sec">
                    <a href="#!" class="recommend_ranking_content">1위 : </a>
                    <a href="#!" class="recommend_ranking_content">2위 : </a>
                    <a href="#!" class="recommend_ranking_content">3위 : </a>
                    <br/>
                    <a href="#!"class="waves-effect waves-light btn">더보기</a>
                </div>
              </div>

        </div>

        <div id="item-slide_main hide-on-med-and-down" class="carousel-item" >
              <div class="recommend_card ">
                <span class="recommend_item_title">수분크림</span>
                <div class="recommend_circle_image" style="background-image:url(/static/cream.png);">
                </div>

                <div class="recommend_ranking_sec">
                    <a href="#!" class="recommend_ranking_content">1위 : </a>
                    <a href="#!" class="recommend_ranking_content">2위 : </a>
                    <a href="#!" class="recommend_ranking_content">3위 : </a>
                    <br/>
                    <a href="#!"class="waves-effect waves-light btn">더보기</a>
                </div>
              </div>

        </div>

        <div id="item-slide_main hide-on-med-and-down" class="carousel-item" >
              <div class="recommend_card ">
                <span class="recommend_item_title">???</span>
                <div class="recommend_circle_image" style="background-image:url({% static 'cream.png' %});">
                </div>

                <div class="recommend_ranking_sec">
                    <a href="#!" class="recommend_ranking_content">1위 : </a>
                    <a href="#!" class="recommend_ranking_content">2위 : </a>
                    <a href="#!" class="recommend_ranking_content">3위 : </a>
                    <br/>
                    <a href="#!"class="waves-effect waves-light btn">더보기</a>
                </div>
              </div>

        </div>


    </div>

    <!-- 카드 넘기기  -->
  <script type="text/javascript">
   $(document).ready(function(){
      $('.carousel').carousel({
            dist: 0,
            shift:0,
            padding:300,

      });
      $(function () {
        $('#myCarousel').carousel({
            interval: 2000
        });
        $('#myCarousel').on('slid.bs.carousel', function (e) {
            if ($('.carousel-inner .item:last').hasClass('active')) {
                $('#myCarousel').carousel('pause');
            }
            if ($('.carousel-inner .item:first').hasClass('active')) {
                $('#myCarousel').carousel('cycle');
            }
        });
    });
    });

  </script>


</div>





<div class="col l6 creator">
  <span class="main_menu_logo-mid_title">크리에이터 후기 보기 </span>
</div>
<div class="col l6 offline_event">
  <span class="main_menu_logo-mid_title">오프라인 행사 정보 </span>
  <div class="event_content">
    <div class="col l6 event_content_text"

    >내 주변의</br>그루밍 행사 </br>알아보기</div>
    <div class="col l6 event_button"><a class="waves-effect waves-light btn" href="{% url 'event:event_main' %}">행사보기</a></div>
  </div>
</div>



<div class="col l12 subscribe_bwg">
  <p id="subscribe-open">메일을 통해 더 많은 소식을 받아보세요</p>
</div>
<div class="col l12 subscribe_panel">
    <form id="subscribe-form" action="{% url 'main:subscribeEmail' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn unsubscribe-submit">구독 취소</button>
        <button type="submit" class="btn subscribe-submit">메일 구독</button>
    </form>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#subscribe-open").click(function(){
        $(".subscribe_panel").slideToggle("slow");
    });
});

  $(document).ready(function(){
    $(".subscribe-submit").click(function(){
        $("#subscribe-form").submit(function(e) {
            e.preventDefault();
            var email = $('#id_email').val();
            $.post('{% url "main:subscribeEmail" %}', {email: email})
                .done(function(r) {
                    if (r.success) {
                        if (r.created){
                            $("#id_email").attr('placeholder', "구독해 주셔서 감사합니다.");
                        }
                        else {
                            $("#id_email").attr('placeholder', "이미 구독중인 메일입니다.");
                        }
                    } else{
                        $("#id_email").attr('placeholder', "잘못된 메일주소 입니다.");
                    }
                    $('#id_email').val('');
                });
            });
      });
});

  $(document).ready(function(){
    $(".unsubscribe-submit").click(function(){
        $("#subscribe-form").submit(function(e) {
            e.preventDefault();
            var email = $('#id_email').val();
            $.post('{% url "main:unsubscribeEmail" %}', {email: email})
                .done(function(r) {
                    if (r.success) {
                        if (r.deleted){
                            $("#id_email").attr('placeholder', "구독 취소 되었습니다.");
                        }
                        else {
                            $("#id_email").attr('placeholder', "구독중인 메일이 아닙니다.");
                        }
                    } else{
                        $("#id_email").attr('placeholder', "잘못된 메일주소 입니다.");
                    }
                    $('#id_email').val('');
                });
            });
      });
});
</script>

</div>

{% endblock %}