{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
<div class="col l8 m12 s12 slogan"><span>
<pre class="slogan">Con<span class="fi">fi</span><span class="de">de</span>nt
Gromming
For You</pre></span></div>
    <div class="col l4 tags hide-on-med-and-down">
        <a href="{% url 'post:show_tag' %}">#TAGS</a></div>
    <div class="col l4 m4 s4 login valign-wrapper">

    <div>
     {% if request.user.is_authenticated %}
         <img src="{{ request.user.profile.image.url }}" width="100px" height="70px"
              style="border-radius:10px; display:block;">
         <div class="member_class">회원등급 : 샤이보이</div>
         <div class="welcome_member">{{ request.user.username }}님 반가워요!!</div>
    <a href="{%  url 'accounts:logout' %}" class="btn">Logout</a>
    {% else %}
    <a href="{% url 'accounts:login' %}" class="btn">로그인</a><br>
    <a href="{% url 'accounts:signup' %}" class="btn purple">일반 회원가입</a>
         <a href="" class="btn blue">FACEBOOK 회원가입</a>
         <a href="" class="btn yellow" style="color:black;">KAKAO 회원가입</a>
    {% endif %}
    </div>

    </div>
    <div class="col l3 m4 s4 skin_type"><span class="main_menu_logo">피부타입 테스트</span><br><br><br><br><br><br><a class="waves-effect waves-light btn">button</a></div>
    <div class="col l5 m4 s4 skin_wiki"><span class="main_menu_logo">금주의 피부백서</span><br><br><br><br><br><br><a class="waves-effect waves-light btn red lighten-3">button</a></div>
    <div class="col l4 m4 s4 hottest"><span class="main_menu_logo"><img src="{% static 'hottest.gif' %}">HOTTEST</span></div>
    <!--이것은 모바일에서만 보이는 태그 영역입니다.-->
    <div class="col m8 s8 hide-on-large-only mobile_tags"><span class="main_menu_logo">#TAGS_FOR_MOBILE</span></div>
    <!--여기까지-->
<div class="col l3 m4 s4 valign-wrapper menu">
  <h5 class="menu_align">추천상품 보기</h5>
</div>
<div class="col l3 m4 s4 valign-wrapper menu">
  <p class="menu_align" style="font-size:19px;">크리에이터 리뷰보기</p>
</div>
<div class="col l3 m4 s4 valign-wrapper menu">
  <h5 class="menu_align">행사 확인하기</h5>
</div>
<div class="col l3 m4 s4 valign-wrapper menu">
  <h5 class="menu_align">BWG 후기보기</h5>
</div>

<!--여기서부터 추천상품 보기 -->

<div class="col l12 recommend_cosmetics">
  <span class="main_menu_logo-mid_title">추천 상품 보기</span>

    <div class="carousel-item" id="item-slide">
        <div class="carousel-item" id="item-slide">
            <div class="col s3" id="new_card">
              <div class="recommend_card ">
                <span class="recommend_item_title">비비크림</span>
                <div class="recommend_circle_image" style="background-image:url(/static/bb_cream.png);">
                </div>
                <div class="recommend_ranking_sec">
                    <a href="#!" class="recommend_ranking_content">1위 : </a>
                    <a href="#!" class="recommend_ranking_content">2위 : </a>
                    <a href="#!" class="recommend_ranking_content">3위 : </a>
                    <br/>
                    <a href="#!"class="waves-effect waves-light btn">더보기</a>
                </div>
              </div>
            </div>

            <div class="col s3" id="new_card">
              <div class="recommend_card" id="new_card" >
                <span class="recommend_item_title">눈썹관리</span>
                <div class="recommend_circle_image" style="background-image:url(/static/brow_kit.png);">
                </div>
                <div class="recommend_ranking_sec">
                    <a href="#!" class="recommend_ranking_content">1위 : </a>
                    <a href="#!" class="recommend_ranking_content">2위 : </a>
                    <a href="#!" class="recommend_ranking_content">3위 : </a>
                    <br/>
                    <a href="#!"class="waves-effect waves-light btn">더보기</a>
                </div>
              </div>
            </div>
            <div class="col s3" id="new_card">
              <div class="recommend_card ">
                <span class="recommend_item_title">수분크림</span>
                <div class="recommend_circle_image" style="background-image:url(/static/cream.png);">
                </div>

                <div class="recommend_ranking_sec">
                    <a href="#!" class="recommend_ranking_content">1위 : </a>
                    <a href="#!" class="recommend_ranking_content">2위 : </a>
                    <a href="#!" class="recommend_ranking_content">3위 : </a>
                    <br/>
                    <a href="#!"class="waves-effect waves-light btn">더보기</a>
                </div>
              </div>
            </div>
            <div class="col s3" id="new_card">
              <div class="recommend_card ">
                <span class="recommend_item_title">???</span>
                <div class="recommend_circle_image" style="background-image:url(/static/cream.png);">
                </div>

                <div class="recommend_ranking_sec">
                    <a href="#!" class="recommend_ranking_content">1위 : </a>
                    <a href="#!" class="recommend_ranking_content">2위 : </a>
                    <a href="#!" class="recommend_ranking_content">3위 : </a>
                    <br/>
                    <a href="#!"class="waves-effect waves-light btn">더보기</a>
                </div>
              </div>
            </div>


    </div>

    </div>



</div>

<div class="col l6 creator">
  <span class="main_menu_logo-mid_title">크리에이터 후기 보기 </span>
</div>
<div class="col l6 offline_event">
  <span class="main_menu_logo-mid_title">오프라인 행사 정보 </span>
</div>
<div class="col l12 subscribe_bwg">
  <span class="main_menu_logo-mid_title">BWG 소식 받아보기 </span>
</div>

</div>

{% endblock %}