{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/beauty_wiki.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/main_core.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/post_css.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/skin_type.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/login.css' %}">

    {% block extra_head %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{% static 'js/ajax_settings.js' %}"></script>

    <script language="javascript" type="text/javascript">
    function review_popup(url) {
    newwindow=window.open(url,'name',"top=50%,left=50%, width=1000,height=500");
    if (window.focus) {newwindow.focus()}
    return false;
    }
    </script>

    <title>Beauty with Guys</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style>
body{
	background-color: #EFEEE9;
}
div.entire{
	width:90%;
	margin:auto;
}
div.nav{
	display:inline;
}
div.below{
	width:85%;
	margin:auto;
}
img.navImg{
	display : inline;
	border-radius : 20px;
	vertical-align: middle;
}
.col.slogan{
	height:390px !important;
    background: url("{% static 'milestone.jpg' %}") no-repeat;
    background-size: 100% 100%;
	padding:10px;
	border:5px solid #f5f0ec;
}
</style>

</head>
<body>

<div class="entire_body">
<div class="col l12 hide-on-med-and-down">
    <p class="logoBox"><a href="{% url 'main:showMain' %}"><img src="{% static 'new_logo.png' %}" class="logo"></a></p>
</div>

  <nav>
    <div class="nav-wrapper center_align">
        <div class="container">


            <!-- Navbar menu -->
          <ul class="main_menu hide-on-med-and-down">
            <li><a href="">뷰티윗가이즈?</a></li>
            <li><a href="{% url 'wiki:wikimain' %}">피부 백서</a></li>
            <li><a href="{% url 'accounts:skin_type' %}">피부타입테스트</a></li>
            <li><a href="{% url 'creator:creator_page_main' %}">크리에이터</a></li>
            <li><a href="{% url 'review:review_list' %}">제품 후기</a></li>
            <li><a href="{% url 'post:post_list' %}">커뮤니티</a></li>
            <li><a href="">검색</a></li>
          </ul>
            <!-- Navbar mobile menu -->
            <ul id="slide-out" class="side-nav">
                <li><div class="user-view">
                    <div class="background">
                        <img src="{% static "milestone.jpg" %}">
                    </div>
                    <a href="#!user" style="text-align: center;"><img class="circle" src="{% static "hottest.gif" %}" style="display:inline;"></a>
                    <a href="#!name"><span class="white-text name">John Doe</span></a>
                    <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
                </div></li>
                <li><a href="#!"><i class="material-icons">cloud</i>뷰티윗가이즈?</a></li>
                <li><a href="{% url 'wiki:wikimain' %}">피부 백서</a></li>
                <li><a href="{% url 'accounts:skin_type' %}">피부타입 테스트</a></li>
                <li><a href="{% url 'creator:creator_page_main' %}">크리에이터</a></li>
                <li><a href="{% url 'review:review_list' %}">제품후기</a></li>
                <li><a href="{% url 'post:post_list' %}">커뮤니티</a></li>
                <li><div class="divider"></div></li>
                <li><a class="subheader">Subheader</a></li>
                <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            <script>$(".button-collapse").sideNav();</script>
            <a href="{% url 'main:showMain' %}">
                <img src="{% static 'logo_no_background.png' %}"
                     class="hide-on-large-only" width="250px" style="margin-top:5px; margin-right:15px;"></a>
        </div>
    </div>
  </nav>

  &nbsp;
  <div class="container">



{% block content %}{% endblock %}
</div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">menu</i>
    </a>
    <ul>
        {% if request.user.is_authenticated %}
            <li><a href= "{% url 'accounts:logout' %}" class="btn-floating red" title="로그아웃"><i class="material-icons">account_circle</i></a></li>
            <li><a href="{% url 'accounts:profile_detail' request.user.username %}" class="btn-floating yellow darken-1">
            <i class="material-icons">perm_identity</i></a></li>
        {% else %}
            <li><a href= "{% url 'accounts:login' %}" class="btn-floating red" title="로그인"><i class="material-icons">account_circle</i></a></li>
        {% endif %}
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>





</body>
</html>