{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="skin_type_explanation">
    <h3>복합성피부란</h3>

    건성과 지성이 부분적으로 섞여있는 피부상태의 조합이다.
    복합성 피부의 특색은 두 가지 또는 그 이상의 피부상태가 함께 존재하는 것인데
    예를 들어서 코주위, 이마, 턱주위는 지성피부이고 얼굴의 다른 부분은 건성 피부인 경우이다.
    복합성 피부를 트리트먼트 할 때에는 각각의 피부상태에 따라서 트리트먼트가 필요하다.
    즉 팩을 할 때 지성피부를 위해서 조제된 팩은 얼굴의 지성 주위에 바르고 건성 피부를 위해서
    조제된 팩은 건성 부위에 피부의 상태에 따라서 관리를 해주어야 한다.
    <br><br>
    <img src="{% static 'combination.png' %}" class="hide-on-med-and-up" style="width:100%;">
    <img src="{% static 'combination.png' %}" class="hide-on-small-only">
    <br>
    <h3>복합성피부 종류에 따른 관리법</h3>
    ① 부분 건성피부 <br><br>
    부분 건성피부는 이마, 코, 턱의 T존 부위는 중성이면서 그외의 경우는 건조한 경우가 대부분이다.
    이런 피부의 경우 자신을 건성이라 생각해 유분이 많은 화장품을 바름으로써 피부트러블을 일으키기도 한다.
    볼, 턱등의 U존부위는 피지가 부족한 상태이므로 탈지력이 강한 비누의 사용을 피하고 부드러운 폼클렌징을 사용한다.
    외관상 피부가 건조해 보이지는 않아도 전체적으로 수분이 부족한 상태이므로 기초화장을 충실히 해주고
    일주일에 2～3번 정도는 눈 주위와 입 주위에 영양크림과 에센스를 마사지하듯 피부 혈액순환이 원활하게 이루어질 수 있도록 한다.
    또한 마사지 후에 스팀타올을 해주면 마사지효과가 더욱 높아져 피부가 좀더 촉촉해 보인다.
    <br><br>
    ② 부분 지성피부<br><br>
    대부분 U-존 부위는 중성이면서 T-존부위는 심한 지성인 경우가 많다. 피부표면은 기름기가 있지만 피지․수분이 모두 부족한 상태로,
    피부트러블을 일으키기 쉽다. 번들거림이 심한 T존 부위의 유분기를 제거하면서,
    거칠어지기 쉬운 눈, 입 주위 피부에는 수분을 공급할 수 있는 피부손질을 해주어야 한다.
    클렌징크림으로 메이크업 성분과 먼지 등을 닦아낸 다음 폼클렌징으로 물세안한다.
    T존 부위는 좀더 세심하게 씻도록 한다. 세안 후 촉촉한 타입의 화장수를 듬뿍 발라주어 수분을 공급하도록 하고
    유분기가 많은 T-존 부위는 수렴화장수를 중심으로, 번들거리는 U-존부위는 영양화장수를 위주로 발라주도록 한다.
    특히 입, 눈 주위는 에센스나 영양크림을 반드시 발라주어 촉촉하게 유지하도록 한다.
    또한 이마나 볼 등에는 더러움이 쉽게 묻어나므로 머드팩 등의 청결팩을 수시로 해주어 모공속의 굳은 피지나 더러움을 제거해 주도록 한다.
    </div>
{% endblock %}