{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="skin_type_explanation">
    <h3>건성피부란</h3>

    수분과 피지 분비량이 적어 피부가 건조하고 잔주름이 생기기 쉬운 타입으로
    피부가 떠 보이거나 주름이 두드러져 노년층에서 자주 볼 수 있는 피부유형이다.
    피부에 자외선, 바람, 음주, 수분부족과 피부를 건성으로 만드는 마스크나 팩의 사용,
    또는 화장품의 사용이나 환경적 요소에 의해서 건성으로 될 수 있다.
    또한 피지를 분비해서 피부를 매끄럽게 해주는 피지선의 기능이 저하되면 피부가 건성이 되기도 한다.
    <br><br>
    <img src="{% static 'dry.png' %}" class="hide-on-med-and-up" style="width:100%;">
    <img src="{% static 'dry.png' %}" class="hide-on-small-only">
    <br>
    <h3>건성피부 관리법</h3>
    - 팩을 사용하는 것보다는 마사지를 꾸준히 해주어 피지 생성을 유도한다.<br>
    - 매일 기초 손질시 반드시 에센스를 사용하도록 한다.<br>
    - 잔주름이 띄는 눈과 입주위에는 꾸준히 수분을 보급하여 피지가 분비되도록 피지선을 자극시킨다.<br>
    - 피부의 당김이 심할 때에는 마사지를 해준 후 에센스와 영양크림을 섞어 영양 팩을 해준다.<br>
    - 자극이 적은 클렌징 로션타입을 사용하여 뜨거운 물보다 미지근한 물로 세안한다.<br>
    </div>
{% endblock %}