{% extends 'base.html' %}
{% block content %}
    <div class="skin_type_explanation">
    <h3>중성피부란</h3>

    중성피부란 건성과 지성의 중간상태라고 할 수 있는 피부로 표면이 매끄럽고 윤기가 있어 메이크업이 잘되는 이상적인 상태의 피부이다.
    그러나 환경의 변화, 스트레스 등으로 인하여 피부트러블이 발생하기 쉬우므로 꾸준한 피부손질이 필요하다.
    중성피부는 피지와 수분이 적당하고, 피부상태가 좋은 상태이며, 정상적으로 기능을 하므로 간단한 트리트먼트를 해줌으로서 피부를 더 건강하고 매력있게 유지시킬 수 있다.
    <br><br>
    <h3>중성피부 특징</h3>
    ◆ 피부 보습 상태가 적절하며 거칠어 보이지 않고, 전반적으로 정상의 피부다.
    ◆ 피지분비 상태가 정상적이어서 피부표면이 번들 거리지 않고, 피부가 섬세해 보인다.
    ◆ 피부가 부드럽고 매끄러우며 탄력이 있다.
    ◆ 세안 후 피부 당김이 별로 느껴지지 않는다.
    <br><br>
    <h3>중성피부 관리법</h3>
    중성피부를 관리할 때의 주된 목표는 피부를 클렌징하는 것이다.
    죽은 세포를 피부 표면에서 제거하고 모낭으로부터 불순물을 제거해 주고
    자극을 줌으로서 피부의 신진대사가 좋아지게 한다.
    간편하게 관리할 수 있는 화장품을 선택하여 유분과 수분의 밸런스를 유지하며
    규칙적인 피부관리를 하여 피부가 계속해서 정상적인 피부기능을 할 수 있도록 한다.
    </div>
{% endblock %}