{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="skin_type_explanation">
    <h3>지성피부란</h3>

    피지분비가 과다하여 모공이 넓어 보이며 땀이나 과다 피지분비로 피부표면이 항상 번들거리는 피부타입으로 주로 젊은 층의 피부에 많다.
    지성피부는 표면에 항상 유분기가 있어 다른 유형의 피부타입에 비해 피부노화가 느린 이점이 있기도 하다. 그러나 지성피부에 나타나는 주름살은 더 깊고 더 분명하다.
    지성피부는 철저한 세안과 클렌징을 해주지 않으면 먼지, 각질, 기름기들이 모여서 모낭을 막아 버리므로 여드름과 피부 트러블이 발생되기도 한다.
    <br><br>
    <img src="{% static 'oily.png' %}" class="hide-on-med-and-up" style="width:100%;">
    <img src="{% static 'oily.png' %}" class="hide-on-small-only">
    <br>
    <h3>지성피부 관리법</h3>
    지성피부는 철저한 세안으로 과잉 분비되는 피지를 즉각적으로 제거해 주는 것이 무엇보다 중요한 손질 포인트이다.
    먼저 클렌징크림으로 메이크업이나 유성의 더러움을 제거한 다음 40℃정도의 약간 뜨거운 물로 폼 클렌저 세안을 한다.
    이때 피지분비가 많은 T존 부위는 약간 세게 문질러주고, 마지막 헹굼 시에는 찬물을 사용하여 뜨거운 물에 의해 열린 모공을 수축시켜 모공을 좁혀주도록 한다.
    세안 후에는 수렴화장수를 화장 솜에 묻혀 유분기가 많이 느껴지는 부위에 얹어 놓으면 모공이 효과적으로 수축되고 피지가 조절된다.
    </div>
{% endblock %}