{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/event_main.css' %}" type="text/css">

<div id="choice_button">
  <a id="choice_button_list" href="{% url 'event:event_main'%}">
  {% include 'event/active_button.html' %}</a>
  <a id="choice_button_map" href="{% url 'event:event_place' %}" >
    {% include 'event/active_button.html' %}</a></div>

  <script>
    $('#choice_button_list').click(function(e){
        var self = $(this);
      $.get(url)
          .done(function(r) {
              $('.event_page_content')(r);
          })
          .fail(function(){
            alert('오류 발생');
          });
        return false;
    });

    $('#choice_button_map').click(function(e){
        var self = $(this);
        var url = self.attr('href');
      $.get(url)
          .done(function(r) {
              console.log(r)
              self.html(r);
          })
          .fail(function(){
            alert('오류 발생');
          });
        return false;
    });
  </script>

<div class="event_page_content">
  <div id="tag_list">
      <a href="{% url 'event:event_main' %}">
        <div class="chip">
          모두보기
        </div>
      </a>

      {% for tag in tag_list %}
      <a href="{% url 'event:event_main_by_tag' tag.pk %}">

        <div class="chip">
          {{tag.tag_name}}
        </div>
      </a>
      {% endfor %}

      <div id="active_event">

          <span class="chip"  style="background-color:pink;">{{tag_selected}}</span>
          <span>진행될 행사 {{a}} 개</span>

      </div>





  </div>

<div class="row">
    <div id="event_list">

      {% for event in event_list %}

        <ul class="event_detail">

          <div class="col l2 m2 s2 tag_section" >
            <span class="chip">
              {% for tag in event.tag.all %}
                {{tag.tag_name}}
              {% endfor %}
            </span>
          </div>

          <div class="col l8 m8 s8 content_section" >
            <span class="event_detail_title">
            {{a}}&{{event.pk}}
          {{event.title}}</span>
            <span class="event_detail_content">{{event.content}}</span>
            <p>일시 : {{event.date}} <br>
               장소 : {{event.place}}
            </p>

          </div>

          <div class="col l2 m2 s2 detail_section" >
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              <button>자세히 보기</button>
          </div>



        </ul>

       {% endfor %}
    </div>
  </div>
</div>


    <a style="background-color : #f26969;"
       class="waves-effect waves-light btn"
       href="{% url 'event:event_create' %}" >글쓰기 </a>


{% endblock %}