{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/event_main.css' %}" type="text/css">



<div class="event_page_content" style="margin-top:30px;">
<div id="tag_list">
      <a href="{% url 'event:event_main' %}">
        <div class="chip">
          모두보기
        </div>
      </a>

      {% for tag in tag_list %}
      <a href="{% url 'event:event_main_by_tag' tag.pk %}">

        <div class="chip">
          {{tag.tag_name}}
        </div>
      </a>
      {% endfor %}

      <div id="active_event">

          <span class="chip"  style="background-color:pink;">{{tag_selected}}</span>
          <span>진행될 행사 {{tag_count}} 개</span>

      </div>

  </div>

<div class="row">
    <div id="event_list">


      {% for event in event_list %}

        <ul class="event_detail">

          <div class="col l2 m2 s2 tag_section" >
            <span class="chip">
              {% for tag in event.tag.all %}
                {{tag.tag_name}}
              {% endfor %}

            </span>
          </div>

          <div class="col l8 m8 s8 content_section" >
            <span class="event_detail_title">
            {{event.pk}}
            </span>
            <span class="event_detail_content">{{event.title}}</span>
            <span class="event_detail_content">{{event.content}}</span>
            <p>일시 : {{event.date}} <br>
               장소 : {{event.place}}
            </p>

          </div>

          <div class="col l2 m2 s2 detail_section" >
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
              <button>자세히 보기</button>
          </div>



        </ul>

       {% endfor %}
    </div>
  </div>
</div>


    <a style="background-color : #f26969;"
       class="waves-effect waves-light btn"
       href="{% url 'event:event_create' %}" >글쓰기 </a>


{% endblock %}