{% extends 'base.html' %}
{% load static %}
{% block content %}

        <h2>뷰가 커뮤니티</h2>
        <table class="striped">
            <tr><th>작성자</th><th>제목</th><th>등록일</th></tr>
            {% for post in posts %}
            <tr>
                <td>{{ post.user }}</td>
                <td><a href = "{% url 'post:post_detail' post.pk %}">
                    <span style="overflow:hidden;">
                        {{ post.title }}
                    {% if post.photo %}
                        <i class="material-icons tiny" style="vertical-align:middle;">add_a_photo</i>
                        {% endif %}
</span>
                    <span style="color:saddlebrown;">({{ post.comment_set.count }})</span></a></td>
                <td>{{ post.created_at|date:"y. m. j. G:H" }}</td>
            </tr>
            {% endfor %}
        </table>

{% include 'post/post_list_to_include.html' %}
{% endblock %}


