{% if posts.has_other_pages %}
<ul class="paging">
	{% if posts.has_previous %}
	<li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
	{% else %}
	<li class="disabled"><span>&laquo;</span></li>
	{% endif %}

	{% for i in posts.paginator.page_range %}
	{% if posts.number == i %}
	<li><span style="text-decoration:underline;">{{ i }}</span></li>
	{% else %}
	<li class="discrimination"><a href="?page={{ i }}">{{ i }}</a></li>
	{% endif %}
	{% endfor %}
	{% if posts.has_next %}
	<li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
	{% else %}
	<li class="disabled"><span>&raquo;</span></li>
	{% endif %}
</ul>
{% endif %}

<br>

<div class="row">
    <div class="col s12 valign-wrapper">
        <div class="col s3"><a href="#" class="to_post_list make_smooth">목록</a></div>
        <div class="input-field col s6">
<form method="GET" action="{% url 'post:search_posts' %}" class="col s12" id="searchform">
    <label for="searchbox">Search..</label>
    <input type="text" class="searchfield" id="searchbox"
           name="search_word">
    <button type="submit">
        <i class="material-icons" style="font-size:30px; vertical-align:middle;">search</i></button>
</form>
        </div>
        <div class="col s3">
            {% if request.user.is_authenticated %}
<a href="{% url 'post:post_write' %}"><button class="btn purple darken-1" style="float:right;">글쓰기</button></a>
            {% else %}
                &nbsp;
            {% endif %}
        </div>
    </div>
</div>